*{
    margin: 0;
    padding: 0;
    
}
/* common-button */
button{
    background-color: #1D4ED8;
    color: #ffffff;
    padding: 15px 50px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    border: none;
    
}

header{
       background-color: #ffffff; 
        
    }
nav{
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        padding: 25px 0;
}

nav img{
    height: 40px;
    width: 120px;
}
        


ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: #575757;
    font-family: 'Arimo', sans-serif;
    gap: 30px;
    align-items: center;
}
ul li a{
    text-decoration: none;
    color: #575757;
    font-size: 16px;
    font-weight: 500;
    
}